In [10]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [11]:
# Reading carnival returns
CCL_Closing_Price_Data_csv = Path("CCL_Closing_Price_Data.csv")
ccl_closing_df = pd.read_csv(CCL_Closing_Price_Data_csv)
ccl_closing_df["Date"] = pd.to_datetime(ccl_closing_df["Date"], dayfirst = True)
ccl_closing_df.set_index(ccl_closing_df['Date'], inplace=True)
ccl_closing_df.drop(columns=['Date'],inplace=True)
ccl_closing_df.head()

            Close
Date
2018-02-01  66.75
2018-03-01  66.90
2018-04-01  66.85
2018-05-01  66.30
2018-08-01  66.05

In [12]:
# Reading royal carribean returns
RCL_Closing_Price_Data_csv = Path("RCL_Closing_Price_Data.csv")
rcl_closing_df = pd.read_csv(RCL_Closing_Price_Data_csv)
rcl_closing_df["Date"] = pd.to_datetime(rcl_closing_df["Date"], dayfirst = True)
rcl_closing_df.set_index(rcl_closing_df['Date'], inplace=True)
rcl_closing_df.drop(columns=['Date'],inplace=True)
rcl_closing_df.head()

             Close
Date
2018-02-01  120.38
2018-03-01  123.58
2018-04-01  122.46
2018-05-01  121.23
2018-08-01  121.09

In [18]:
# Calculate daily returns carnival
ccl_returns_df = ccl_closing_df.pct_change()
ccl_returns_df.dropna(inplace=True)
ccl_returns_df.head()

               Close
Date
2018-03-01  0.002247
2018-04-01 -0.000747
2018-05-01 -0.008227
2018-08-01 -0.003771
2018-09-01  0.023921

In [19]:
# Calculate daily returns royal carribean
rcl_returns_df = rcl_closing_df.pct_change()
rcl_returns_df.dropna(inplace=True)
rcl_returns_df.head()

               Close
Date
2018-03-01  0.026582
2018-04-01 -0.009063
2018-05-01 -0.010044
2018-08-01 -0.001155
2018-09-01  0.017012